aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
attrs==24.3.0
blinker==1.9.0
click==8.1.8
contourpy==1.3.1
cycler==0.12.1
discord.py==2.4.0
Flask==3.1.0
fonttools==4.55.3
frozenlist==1.5.0
gpuinfo==1.0.0a7
humanize==4.11.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.0
multidict==6.1.0
numpy==2.2.1
packaging==24.2
pillow==11.0.0
propcache==0.2.1
psutil==6.1.1
pyparsing==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
six==1.17.0
Werkzeug==3.1.3
yarl==1.18.3
aiosqlite==0.17.0
pytz==2024.2
pymongo==4.8.0
motor==3.5.3
